/*UNIVERSAL SELECTOR*/
* {

}
/*******************************
GENERAL
*******************************/
body{
    font-family: 'Indie Flower', cursive;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.main-header {
    background-image: url(http://www.discoverontariocalifornia.org/sites/default/files/dining-images/connals.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.iframe {
    text-align: center;
}

.main-header, title {
    text-align: center;
}

.title {
/*To change the font-size from px to em.Do this simple equation. 
Whatever the designed px is / 16. 
26px/16px = 
*/
    font-size: 5.625em;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;  
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6 ;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content, .secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 10px solid purple; 
}

ul li {
    margin-bottom: 5px; 
}

.burger, .burger2, .burger3, .burger4, .burger5, .burger6, .burger7, .burger8, .burger9 {
    width: 300px;
    margin-top: -60px;
}

.food {
    /*Two values first is for top and bottom. 2nd is for left and right.*/
/*    border-color: #ffa949;
    border-style: solid;
    border-width: 10px 20px;*/
    border-top: 10px solid #ffa949;
    /*When 3 values.First one is for top. Second one is for left and right. Third one is for bottom.*/
    margin: 105px 0 60px;
/*    padding-bottom: 100px; 
    padding-left: 120px;
    padding-right: 120px; 
    padding-top: 100px;*/
    padding: 18% 24%;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px green;
    padding-bottom: 60px; 
    padding-top: 60px;
}

/*******************************
HEADLINE ELEMENTS & P ELEMENTS
*******************************/

h1 {
    /**90px/16px*/
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    text-transform: uppercase;  
}

h2 {
    font-size: 53px;
    font-weight: normal;
    /*26px/53px*/
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    font-size: 0px;
    /*34px/20px*/
    margin-bottom: 1.7em;
}

h6 {
    float: down;
    font-size: 200px;
    /*34px/20px*/
    margin-bottom: .7em;
}

p {
    
}


/*******************************
FLOATED COLUMNS 
*******************************/
.hamburgers, .tips {
    width: 46.5%;
}

.hamburgers {
    float: left;
    margin-bottom: 40px
    margin-left: 500px;
    text-align: center;
}

.tips {
    float: left;
    margin-bottom: -1000px;
    padding-bottom: 500px;
    text-align: center;
}







/*******************************
COLORS
*******************************/
body {
    color: #000000;
}

.title {
    color: red;
}

.main-header {
    background-color: black;
}

.food{
    color: white;
    background-color: #434a52;
}

ul li {
    background-color: tomato;
    color: red;
}

h1 {
    color: red;
}

h3 {
    color: #48524c;
}

/*CSS PSEUDO CLASS*/
a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover{
    color: forestgreen;
}

a:active{
    color: coral;
}

a:focus {
    background-color: orange;
    color: white;
}
























